<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuite name="Default">
        <directory>tests/</directory>
    </testsuite>
        <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">vendor/beanjuice/silverstripe-user-management/src</directory>
            <exclude>
                <directory suffix=".php">vendor/beanjuice/silverstripe-user-management/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
