<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap=__DIR__."/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuite name="Default">
        <directory>tests/Pages/</directory>
    </testsuite>
        <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">tests/Pages/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
